[Unit]
Description=Plant Station Server
#After=systemd-timesyncd-wait.service
After=plantstation-wait.service


[Service]
ExecStart=/opt/bin/plantstation -c /etc/plantstation/server.conf
WorkingDirectory=/srv/plantstation
Restart=on-failure

[Install]
WantedBy=default.target
